.signin {
  height: 100vh;
  &_box {
    // background-color: aqua;
    display: flex;
    height: 92vh;
    &-1 {
      width: 40%;
      // background-color: aquamarine;
      display: flex;
      // justify-content: center;
      align-items: center;
      // padding: 0rem 10rem;
      @include respond(tab-port) {
        width: 100%;
      }
      @include respond(phone) {
        width: 100%;
      }
      &_sub {
        // background-color: greenyellow;
        width: 100%;
        padding: 6rem;
        display: flex;
        flex-direction: column;
        @include respond(tab-land) {
          padding: 5rem;
        }
        @include respond(tab-port) {
          padding: 2rem 8rem;
        }
        @include respond(phone) {
          padding: 2rem 3rem;
        }
        // justify-content: center;
      }
    }
    &-2 {
      width: 60%;
      height: 92vh;
      background-color: rgb(4, 48, 71);
      @include respond(tab-port) {
        display: none;
      }
      @include respond(phone) {
        display: none;
      }
    }
  }
}
.signin {
  &_heading {
    // background-color: blue;
    text-align: center;
    @include respond(tab-land) {
      font-size: 1.5rem;
    }
    @include respond(tab-port) {
      font-size: 2.2rem;
    }
    @include respond(phone) {
      font-size: 2rem;
    }
  }
  &_subheading {
    // background-color: blueviolet;
    text-align: center;
    font-size: 0.8rem;
    padding-bottom: 1rem;
    @include respond(tab-land) {
      font-size: 0.6rem;
      padding-bottom: 0.8rem;
    }
    @include respond(tab-port) {
      font-size: 1rem;
      padding-bottom: 0.6rem;
    }
    @include respond(phone) {
      font-size: 1rem;
      padding-bottom: 0.4rem;
    }
  }

  &_input {
    // background-color: burlywood;
    width: 100%;
    padding: 0.5rem 0.8rem;
    margin: 0.5rem 0rem;
    font-size: 0.8rem;
    font-weight: 700;

    @include respond(tab-land) {
      font-size: 0.5rem;
      padding: 0.4rem 0.6rem;
      margin: 0.4rem 0rem;
    }
    @include respond(tab-port) {
      font-size: 0.8rem;
      margin: 0.5rem 0rem;
      padding: 0.5rem 0.8rem;
    }
    @include respond(phone) {
      font-size: 0.6rem;
      margin: 0.5rem 0rem;
      padding: 0.6rem 0.4rem;
    }
  }
  &_other {
    display: flex;
    justify-content: space-between;
    &-RP {
      font-size: 0.7rem;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: space-around;

      @include respond(tab-land) {
        font-size: 0.5rem;
      }
      @include respond(tab-port) {
        font-size: 0.8rem;
      }
      @include respond(phone) {
        font-size: 0.8rem;
      }
    }
    &-FP {
      font-size: 0.7rem;
      font-weight: 700;
      cursor: pointer;
      @include respond(tab-land) {
        font-size: 0.5rem;
      }
      @include respond(tab-port) {
        font-size: 0.8rem;
      }
      @include respond(phone) {
        font-size: 0.8rem;
      }
    }
  }
}
