* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar_btn {
  margin: 1rem;
  padding: 0.5rem 2rem;
  font-size: 0.7rem;
  font-weight: 700;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer; }
  @media only screen and (max-width: 75em) {
    .navbar_btn {
      margin: 0.6rem;
      padding: 0.5rem 1rem;
      font-size: 0.5rem; } }
  @media only screen and (max-width: 56.25em) {
    .navbar_btn {
      margin: 0.4rem;
      padding: 0.4rem 0.8rem;
      font-size: 0.4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navbar_btn {
      display: none; } }
  .navbar_btn-1 {
    width: 100%;
    background-color: #043047; }
  .navbar_btn-2 {
    width: 100%;
    background-color: #fb8500; }
  .navbar_btn-con {
    position: absolute;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    right: 0; }

.signin-btn {
  margin: 0.5rem 0rem;
  padding: 0.7rem 2rem;
  font-size: 0.7rem;
  font-weight: 700;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  width: 100%;
  background-color: #043047; }
  @media only screen and (max-width: 75em) {
    .signin-btn {
      font-size: 0.5rem;
      margin: 0.4rem 0rem;
      padding: 0.6rem 1.5rem; } }
  @media only screen and (max-width: 56.25em) {
    .signin-btn {
      font-size: 0.4rem;
      margin: 0.5rem 0rem;
      padding: 0.7rem 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .signin-btn {
      font-size: 0.5rem;
      margin: 0.5rem 0rem;
      padding: 0.7rem 2rem; } }
  .signin-btn_con {
    width: 100%;
    display: flex;
    justify-content: center; }

.checkbox {
  margin-right: 0.2rem;
  margin-bottom: -0.1rem; }
  .checkbox:checked {
    color: #043047; }

.navbar {
  height: 8vh;
  display: flex;
  position: relative;
  border-bottom: 1px solid black; }
  .navbar_logo {
    font-weight: 900;
    display: flex;
    align-items: center;
    color: #043047;
    padding: 1rem; }
    @media only screen and (max-width: 75em) {
      .navbar_logo {
        font-weight: 700; } }
    .navbar_logo_span {
      color: red;
      font-weight: 400; }

.signin {
  height: 100vh; }
  .signin_box {
    display: flex;
    height: 92vh; }
    .signin_box-1 {
      width: 40%;
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 56.25em) {
        .signin_box-1 {
          width: 100%; } }
      @media only screen and (max-width: 37.5em) {
        .signin_box-1 {
          width: 100%; } }
      .signin_box-1_sub {
        width: 100%;
        padding: 6rem;
        display: flex;
        flex-direction: column; }
        @media only screen and (max-width: 75em) {
          .signin_box-1_sub {
            padding: 5rem; } }
        @media only screen and (max-width: 56.25em) {
          .signin_box-1_sub {
            padding: 2rem 8rem; } }
        @media only screen and (max-width: 37.5em) {
          .signin_box-1_sub {
            padding: 2rem 3rem; } }
    .signin_box-2 {
      width: 60%;
      height: 92vh;
      background-color: #043047; }
      @media only screen and (max-width: 56.25em) {
        .signin_box-2 {
          display: none; } }
      @media only screen and (max-width: 37.5em) {
        .signin_box-2 {
          display: none; } }

.signin_heading {
  text-align: center; }
  @media only screen and (max-width: 75em) {
    .signin_heading {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 56.25em) {
    .signin_heading {
      font-size: 2.2rem; } }
  @media only screen and (max-width: 37.5em) {
    .signin_heading {
      font-size: 2rem; } }

.signin_subheading {
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 1rem; }
  @media only screen and (max-width: 75em) {
    .signin_subheading {
      font-size: 0.6rem;
      padding-bottom: 0.8rem; } }
  @media only screen and (max-width: 56.25em) {
    .signin_subheading {
      font-size: 1rem;
      padding-bottom: 0.6rem; } }
  @media only screen and (max-width: 37.5em) {
    .signin_subheading {
      font-size: 1rem;
      padding-bottom: 0.4rem; } }

.signin_input {
  width: 100%;
  padding: 0.5rem 0.8rem;
  margin: 0.5rem 0rem;
  font-size: 0.8rem;
  font-weight: 700; }
  @media only screen and (max-width: 75em) {
    .signin_input {
      font-size: 0.5rem;
      padding: 0.4rem 0.6rem;
      margin: 0.4rem 0rem; } }
  @media only screen and (max-width: 56.25em) {
    .signin_input {
      font-size: 0.8rem;
      margin: 0.5rem 0rem;
      padding: 0.5rem 0.8rem; } }
  @media only screen and (max-width: 37.5em) {
    .signin_input {
      font-size: 0.6rem;
      margin: 0.5rem 0rem;
      padding: 0.6rem 0.4rem; } }

.signin_other {
  display: flex;
  justify-content: space-between; }
  .signin_other-RP {
    font-size: 0.7rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    @media only screen and (max-width: 75em) {
      .signin_other-RP {
        font-size: 0.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .signin_other-RP {
        font-size: 0.8rem; } }
    @media only screen and (max-width: 37.5em) {
      .signin_other-RP {
        font-size: 0.8rem; } }
  .signin_other-FP {
    font-size: 0.7rem;
    font-weight: 700;
    cursor: pointer; }
    @media only screen and (max-width: 75em) {
      .signin_other-FP {
        font-size: 0.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .signin_other-FP {
        font-size: 0.8rem; } }
    @media only screen and (max-width: 37.5em) {
      .signin_other-FP {
        font-size: 0.8rem; } }
